# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
bower_components/
public/
src/js/vendor/
src/css/vendor/
src/img/vendor/
src/fonts/vendor/